body {
    background-color:   #ff5100;
 }
 
 .barra {
   width: 100%;
   height: 100px;
   margin: auto;
   display: block;
 }
 
 .barraRelative {
   background-color: black;
   width: 100%;
   height: 100px;
   margin: auto;
   position:relative;
 }
 
 .logo {
   position: absolute;
   top: 5px;
   left: 5px;
 }
 
 .viajar{
   position: absolute;
   top: 7px;
   left: 47%;
 }
 
 
 
 
 .form {
   padding: 20px;
  background-color: #ff8800;
   border-radius: 30px;
   width: 60%;
   height: 400px;
   margin: auto;
   margin-top: 30px;
 }
 
 .titulo {
   width: 50%;
   text-align: center;
   margin: auto;
   font-size: 40px;
   font-family: Impact, fantasy;
   color: white;
   font-weight: 0;
 }
 
 form {
   text-align: center;
   font-family: Impact, fantasy;
   color: white;
   font-size: 30px;
   font-weight: 0;
 }
 
 .nome {
     margin-top: 10px;
   width: 40%;
   height: 30px;
   border-radius: 20px;
   border: transparent;
   background-color: #ff5511;
   font-family: Impact, fantasy;
   color: white;
   font-size: 19px;
   text-align: center;
 }
 
 input[type='text']:focus, input[type='email']:focus {
   border: 1px solid rgb(0, 0, 0);
   background-color: rgb(255, 64, 0); 
   outline: none;}
 
 input[type='number']:focus, input[type='date']:focus{
   border: 1px solid rgb(0, 0, 0);
   background-color: rgb(255, 64, 0);
   outline: none;}
 
 .idade{
     margin-top: 10px;
   width: 15%;
   height: 30px;
   border-radius: 20px;
   border: transparent;
   background-color: #ff5511;
   font-family: Impact, fantasy;
   color: white;
   font-size: 19px;
   text-align: center;
 }
 .email{
     margin-top: 10px;
   width: 40%;
   height: 30px;
   border-radius: 20px;
   border: transparent;
   background-color: #ff5511;
   font-family: Impact, fantasy;
   color: white;
   font-size: 19px;
   text-align: center;
 }
 #continentes{
     margin-top: 10px;
   width: 18%;
   height: 30px;
   border-radius: 20px;
   border: transparent;
   background-color: #ff5511;
   font-family: Impact, fantasy;
   color: white;
   font-size: 19px;
   text-align: center;
 }
 
 #cidades {
     margin-top: 20;
    width: 18%;
   height: 30px;
   border-radius: 20px;
   border: transparent;
   background-color: #ff5511;
   font-family: Impact, fantasy;
   color: white;
   font-size: 19px;
   text-align: center;
 }
 
 .confirmar{
   margin-top: 5px;
   width: 150px;
   height: 30px;
   border-radius: 20px;
   border: transparent;
   background-color: #ff5511;
   font-family: Impact, fantasy;
   color: white;
   font-size: 19px;
   text-align:center;
 }
 .confirmar:hover{
   background-color: rgb(255, 64, 0) ;
   
 }
 
 .imagemCidade {
   display: none;
   margin: auto;
   margin-top: 20px;
   border:solid;
   border-radius: 30px;
   width: 70%;
   height: 500px;
 }
 
 .form1 {
   display: none;
 }
 
 .passagens {
   margin-top: 20px;
   width: 15%;
   height: 30px;
   border-radius: 20px;
   border: transparent;
   background-color: #ff5511;
   font-family: Impact, fantasy;
   color: white;
   font-size: 19px;
   text-align: center;
 }
 
 .data {
   margin-top: 20px;
   width: 15%;
   height: 30px;
   border-radius: 20px;
   border: transparent;
   background-color: #ff5511;
   font-family: Impact, fantasy;
   color: white;
   font-size: 19px;
   text-align: center;
 }
 
 .resultado {
   display: none;
   position: relative;
 
   width:  95%;
   height: 450px;
   margin: auto;
   margin-top: 30px;
   background-color: rgb(151,29,7);
 }
 
 .proprietario {
   margin-top: 0;
   margin-left: 8px;
 
   width:70%;
   text-align: left;
 }
 
 .emailContato {
   margin-top: 10px;
   margin-left: 8px;
 
   width:70%;
   text-align: left;
 }
 
 .dataDeIda {
   margin-top: 10px;
   margin-left: 8px;
 
   width:70%;
   text-align: left;
 }
 
 .datadeVolta {
   margin-top: 10px;
   margin-left: 8px;
 
   width:70%;
   text-align: left;
 }
 
 .quantidadeDePassagens {
   margin-top: 10px;
   margin-left: 8px;
 
   width:70%;
   text-align: left;
 }
 
 .diasDeHospedagem {
   margin-top: 10px;
   margin-left: 8px;
 
   width:70%;
   text-align: left;
 }
 
 .local{
    margin-top: 10px;
   margin-left: 8px;
 
   width:70%;
   text-align: left;
 }
 
 
 
 
 .imagemPNG{
   width: 30%;
   height: 250px;
   left: 60%;
   bottom:210px;
   position: absolute;
 }
 .imagemPNG img{
   margin: auto;
 }
 
 .valorTotal {
   margin: auto;
   margin-top: 10px;
   width:40%;
   background-color: rgb(151,29,7);
 }
 
 .positionConfirmarCompra{
   width: 490px;
   height: 80px;
   margin: auto;
   margin-top: 28px;
 }
 
 .confirmarCompra {
   display: none;
   width: 500px;
   height: 60px;
   border: transparent;
   border-radius: 20px;
   background-color: rgb(8, 114, 15);
   font-family: Impact, fantasy;
   color: white;
   font-size: 40px;  
 }
 
 .positionConfirmarCompra :hover{
 
   background-color:  rgb(26, 188, 56);
   width: 530px;
   height: 70px;
   font-size: 45px;
 }
 
 a{
   text-decoration: none;
 }
 
 .preçoPassagem {
   margin-top: 15px;
 }
 
 .preços {
   margin-top: 15px;
 }